<div data-name="link-holder" class="copy-link-holder hidden">
  <input
    type="text"
    id="copyLinkInput"
    value=""
    class="copy-link-input"
    readonly
  />
  <button data-name="copy-link-btn">Copy Link</button>
</div>
