<div class="folder-info-holder">
  <button class="rename-folder" data-id="1">Rename Folder</button>
  <button class="folder-detail" data-id="1">Detail</button>
  <button class="add-file" data-id="1">+Add files</button>
  <button class="delete-folder" data-id="1">Delete</button>
</div>
