<form
  action="/upload/file"
  method="post"
  class="flex-column"
  data-name="upload-file-form"
  enctype="multipart/form-data"
>
  <label for="uploadFile" aria-label="upload file"></label>
  <input type="file" name="uploadFile" id="uploadFile" class="custom-input" />
  <button type="submit" data-name="upload-btn">Upload File</button>
</form>
